name: Build Kernels

permissions:
  contents: write
  actions: write

on:
  workflow_dispatch:
    inputs:
      release_type:
        description: "Choose Release Type"
        required: true
        type: choice
        options:
          - Actions
          - Pre-Release
          - Release
        default: Actions
      build_selection:
        description: "Choose which kernels to build"
        required: true
        type: choice
        options:
          - All
          - Android12-5.10
          - Android13-5.10
          - Android13-5.15
          - Android14-5.15
          - Android14-6.1
          - Android15-6.6
        default: All
      susfs_version:
        description: "Choose SUSFS version to build"
        required: true
        type: choice
        options:
          - v1.5.12
          - v1.5.9
        default: v1.5.12
      create_release:
        description: "Create a GitHub Release?"
        type: boolean
        default: false

jobs:

  build-a12-5-10:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android12-5.10'
    uses: ./.github/workflows/kernel-a12-5-10.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  build-a13-5-10:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android13-5.10'
    uses: ./.github/workflows/kernel-a13-5-10.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  build-a13-5-15:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android13-5.15'
    uses: ./.github/workflows/kernel-a13-5-15.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  build-a14-5-15:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android14-5.15'
    uses: ./.github/workflows/kernel-a14-5-15.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  build-a14-6-1:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android14-6.1'
    uses: ./.github/workflows/kernel-a14-6-1.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  build-a15-6-6:
    if: inputs.build_selection == 'All' || inputs.build_selection == 'Android15-6.6'
    uses: ./.github/workflows/kernel-a15-6-6.yml
    secrets: inherit
    with:
      ksu_variant: "WKSU"

  release:
    runs-on: ubuntu-latest
    if: (success() || failure()) && github.event.inputs.create_release == 'true'
    needs:
      - build-a12-5-10
      - build-a13-5-10
      - build-a13-5-15
      - build-a14-5-15
      - build-a14-6-1
      - build-a15-6-6

    env:
      RELEASE_NAME: "GKI Kernels With WKSU & SUSFS v1.5.12"
      
    steps:
      - name: Free Disk Space
        run: |
          echo "===== Initial Total Disk Space in GB ====="
          df -h
          curl -Ls https://raw.githubusercontent.com/apache/arrow/main/ci/scripts/util_free_space.sh | bash
          echo "===== Total Disk Space After Cleanup in GB ====="
          df -h

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          fetch-depth: 0

      - name: Get commit hashes and generate commit URLs
        run: |
          GITLAB_OWNER="simonpunk"
          GITLAB_REPO="susfs4ksu"
          
          declare -A BRANCH_MAP=(
            ["gki_android12_5_10"]="gki-android12-5.10"
            ["gki_android13_5_10"]="gki-android13-5.10"
            ["gki_android13_5_15"]="gki-android13-5.15"
            ["gki_android14_5_15"]="gki-android14-5.15"
            ["gki_android14_6_1"]="gki-android14-6.1"
            ["gki_android15_6_6"]="gki-android15-6.6"
          )
          
          for var_name in "${!BRANCH_MAP[@]}"; do
            branch_name="${BRANCH_MAP[$var_name]}"
            COMMIT_HASH=$(git ls-remote https://gitlab.com/$GITLAB_OWNER/$GITLAB_REPO.git refs/heads/$branch_name | awk '{ print $1 }')
            
            if [[ -n "$COMMIT_HASH" ]]; then
              COMMIT_URL="https://gitlab.com/$GITLAB_OWNER/$GITLAB_REPO/-/commit/$COMMIT_HASH"
              echo "$branch_name Commit: $COMMIT_HASH"
              echo "$branch_name Commit URL: $COMMIT_URL"
              
              echo "COMMIT_HASH_${var_name}=$COMMIT_HASH" >> "$GITHUB_ENV"
              echo "COMMIT_URL_${var_name}=$COMMIT_URL" >> "$GITHUB_ENV"
            fi
          done

      - name: Get KernelSU variant refs and links
        run: |
          # Get WKSU latest commit from wild branch
          WKSU_REF=$(git ls-remote "https://github.com/WildKernels/Wild_KSU.git" refs/heads/wild | awk '{print $1}')
          WKSU_URL="https://github.com/WildKernels/Wild_KSU/commit/$WKSU_REF"
          echo "WKSU_REF=$WKSU_REF" >> $GITHUB_ENV
          echo "WKSU_URL=$WKSU_URL" >> $GITHUB_ENV
          
          # Get Baseband-guard latest commit from main branch
          BBG_REF=$(git ls-remote "https://github.com/vc-teahouse/Baseband-guard.git" refs/heads/main | awk '{print $1}')
          BBG_URL="https://github.com/vc-teahouse/Baseband-guard/commit/$BBG_REF"
          echo "BBG_REF=$BBG_REF" >> $GITHUB_ENV
          echo "BBG_URL=$BBG_URL" >> $GITHUB_ENV

      - name: Generate New Tag
        run: |
            LATEST_TAG=$(git describe --tags --abbrev=0 2>/dev/null || echo "")
            if [ -z "$LATEST_TAG" ]; then
              LATEST_TAG="v1.5.12-r0"
            fi
            
            NEW_TAG=$(echo "$LATEST_TAG" | awk -F'-r' '{suffix=$2; if (!suffix) suffix=0; suffix++; printf "%s-r%d", $1, suffix}')
    
            echo "New tag: $NEW_TAG"
            echo "NEW_TAG=${NEW_TAG}" >> $GITHUB_ENV

      - name: Download All Release Assets
        uses: actions/download-artifact@v5
        with:
          path: ./release-assets

      - name: Set release body
        run: |
          cat << 'EOF' > release_body.md
      
          **IMPORTANT DISCLAIMER**
          This software is provided for testing and educational purposes only. Use at your own risk.
          The developers are not responsible for any damage, data loss, or issues that may occur.
          Please ensure you have proper backups before installation.

          Features:
          -> Wild KSU
          -> Multi Manager Support for WKSU, KernelSU-Next! Needs Testing: KSU, MKSU RKSU, xxKSU, KowSU and SukiSU (Best compatibility with WKSU, no support will be provided for other managers)
          -> SUSFS à¶ž v1.5.12
          -> Scope-Minimized Manual hooks v1.4
          -> Ptrace Patch Support for Older Kernels (<5.16)
          -> IPSet Support for Advanced Network Filtering
          -> Wireguard Support
          -> BBR v1 Support
          -> Added BBG support to prevent unauthorised writes to certain partitions: https://github.com/vc-teahouse/Baseband-guard

          Notes:
          -> SUS SU Mode 2 will show as disabled or not compatble due to non-kprobe hooks and is not needed anymore!
          -> Official Kernel Flasher is broken with latest susfs, try https://github.com/fatalcoder524/KernelFlasher/
          -> **Files ending with .zip**: Available for fastboot flashing
          -> **Files ending with -vmlinux.zip**: Debug symbols for kernel debugging and crash analysis
          -> **Warning**: kernel files may not boot on some Android 16 devices
      
          Module: 
          -> https://github.com/sidex15/ksu_module_susfs
      
          Managers:
          -> WKSU: https://github.com/WildKernels/Wild_KSU
          -> Next: https://github.com/KernelSU-Next/KernelSU-Next
          
          Commit Hashes (at the time of release):
          -> WKSU: [${{ env.WKSU_REF }}](${{ env.WKSU_URL }})

          -> Baseband-guard: [${{ env.BBG_REF }}](${{ env.BBG_URL }})

          -> SUSFS4KSU: 
            -> gki-android12-5.10: [${{ env.COMMIT_HASH_gki_android12_5_10 }}](${{ env.COMMIT_URL_gki_android12_5_10 }})
            -> gki-android13-5.10: [${{ env.COMMIT_HASH_gki_android13_5_10 }}](${{ env.COMMIT_URL_gki_android13_5_10 }})
            -> gki-android13-5.15: [${{ env.COMMIT_HASH_gki_android13_5_15 }}](${{ env.COMMIT_URL_gki_android13_5_15 }})
            -> gki-android14-5.15: [${{ env.COMMIT_HASH_gki_android14_5_15 }}](${{ env.COMMIT_URL_gki_android14_5_15 }})
            -> gki-android14-6.1: [${{ env.COMMIT_HASH_gki_android14_6_1 }}](${{ env.COMMIT_URL_gki_android14_6_1 }})
            -> gki-android15-6.6: [${{ env.COMMIT_HASH_gki_android15_6_6 }}](${{ env.COMMIT_URL_gki_android15_6_6 }})
          EOF

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ env.NEW_TAG }}
          prerelease: ${{ inputs.release_type == 'Pre-Release' }}
          files: ./release-assets/*/*.zip
          name: ${{ env.RELEASE_NAME }}
          body_path: release_body.md
          token: ${{ secrets.RELEASE }}

      - name: Display Files Uploaded
        run: |
          echo "GitHub release will be created with the following files:"
          ls -lhR ./release-assets/
